*{

margin: 0px;
padding: 0%;

}

body {
    
    height: 100%;
     background: linear-gradient( #1828b9 , #0EC5ED );
     
    }

.cabeçalho {
    background-color: rgb(10, 10, 53);
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 0 25px;
    align-items: center;
    box-shadow: 6px 6px 10px #060066;

    
}

.titulo {
    font-family: 'Mynerve', cursive;
    font-size: 450%;
    margin-left: 100px;
    
}

.cabeçalho-lista, .cabeçalho-lista-item {
display: block;
display: inline;
margin: 0 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link{

color: #ffff;
text-decoration: none;
}

a:visited{

color: #ffff;
text-decoration: none;

}

 .fotodasala {

  
width: 45% ;
border-radius: 28px; 

}

.sala {

color: #ffff;
display: flex;
justify-content: center;
align-items: center;
}

.texto{

text-align: left;
width:45%;
background-color: #060027;
padding: 10px;
border-radius: 34px;

}

.sobreasala{
font-family:'Mynerve', cursive;
text-align: left;
margin-left: 10px;
margin-bottom: 20px;
}

.paragrafo {

font-family: cursive;

}

