*{

margin: 0px;
padding: 0%;

}

body {
    
    height: 100%;
     background: linear-gradient( #1828b9 , #0EC5ED );
     
    }

.cabeçalho {
    background-color: rgb(10, 10, 53);
    color: white;
    display: flex;
    justify-content:space-between;
    padding: 0 25px;
    align-items: center;

    
}

.titulo {
    font-family:cursive;
    font-size: 450%;
    margin-left: 100px;
    
}

.cabeçalho-lista, .cabeçalho-lista-item {
display: block;
display: inline;
margin: 0 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
    
 .fotodasala {

  
width: 45% ;

}

.sala {

color: #ffff;
display: flex;
justify-content: center;
align-items: center;
}

.texto{

text-align: left;
width:45%;

}

.sobreasala{

text-align: left;
margin-left: 10px;
margin-bottom: 20px;
}

