*{

    margin: 0%;
    padding: 0%;
    
    }
    
    body {
         height: 820px;
         background: linear-gradient(#060066, #0EC5ED);
         
        }

    




    .cabeçalho {
        background-color: rgb(10, 10, 53);
        color: white;
        display: flex;
        justify-content:center;
        padding: 0 25px;
        align-items: center;
        box-shadow: 6px 6px 10px #060066;}
    
        .seta {
           
         font-size: 100px;
         margin-left: -400px;
        margin-right: 250px;
        font-weight: bold;
        margin-bottom: -20px;
        }
                a:link{
                    color: #ffff;
                    text-decoration: none;
                    }
                    a:visited{
                    color: #ffff;
                    text-decoration: none;
                    }
                    .titulo {
                        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 450%;
                        margin-left: 100px;
                        text-align: center;
                    }
.txtfts {
    font-family:monospace;
    font-size: 50px;
    margin-top: 50px;
    color: #ffff;
    text-align: center;


} 